{%- comment -%}
In Prestige, the header is quite complex due to the very high number of possible combinations. If you have to edit it, please
make sure to duplicate the theme first so you can revert your changes in case any issue is introduced.
{%- endcomment -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
USEFUL VARIABLES
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign use_transparent_header = false -%}

{%- if template == 'index' and section.settings.enable_transparent_header -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if template.name == 'collection' and section.settings.enable_transparent_header_collection and collection.image and collection.all_products_count > 0 and collection.template_suffix != 'no-image' -%}
  {%- assign use_transparent_header = true -%}
{%- endif -%}

{%- if section.settings.navigation_style != 'sidebar' -%}
  {%- assign use_sidebar_menu = false -%}
{%- else -%}
  {%- assign use_sidebar_menu = true -%}
{%- endif -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
HEADER CONTENT
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- capture section_settings -%}
{
  "navigationStyle": {{ section.settings.navigation_style | json }},
  "hasTransparentHeader": {% if use_transparent_header %}true{% else %}false{% endif %},
  "isSticky": {% if section.settings.use_sticky_header %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<header id="section-{{ section.id }}"
        class="Header Header--{{ section.settings.navigation_style }} {% if section.settings.navigation_style != 'inline' and section.settings.navigation_style != 'logoLeft' %}Header--initialized{% endif %} {% if use_transparent_header %}Header--transparent{% endif %} {% if section.settings.show_icons or section.settings.navigation_style == 'sidebar' %}Header--withIcons{% endif %}"
        data-section-id="{{ section.id }}"
        data-section-type="header"
        data-section-settings='{{ section_settings }}'
        role="banner">
 
  <div class="Header__Wrapper">
      {%- capture header_logo_center -%}
        <a href="/" class="Header__LogoLink">
          {%- if section.settings.logo != blank -%}
            {%- capture image_size -%}{{ section.settings.logo_center_max_width }}x{%- endcapture -%}

            <img class="Header__LogoImage Header__LogoImage--primary"
                 src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 width="{{ section.settings.logo_center_max_width }}"
                 alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
          {%- else -%}
            <span class="Heading u-h4">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}
      <div class="Header__FlexItem Header__FlexItem--logo Header__FlexItem--logo__center">
          <div class="Header__Logo">{{ header_logo_center }}</div>
          <div class="SubHeader">{{ section.settings.sub_header }}</div>
      </div>
  </div>

</header>

<style>
  {%- if section.settings.use_sticky_header -%}
    :root {
      --use-sticky-header: 1;
      --use-unsticky-header: 0;
    }

    .shopify-section--header {
      position: -webkit-sticky;
      position: sticky;
    }
  {%- else -%}
    :root {
      --use-sticky-header: 0;
      --use-unsticky-header: 1;
    }
  {%- endif -%}

  {%- if section.settings.logo -%}
    @media screen and (max-width: 640px) {
      .Header__LogoImage {
        max-width: {{ section.settings.mobile_logo_max_width }}px;
      }
    }
  {%- endif -%}

  {%- if use_transparent_header -%}
    :root {
      --header-is-not-transparent: 0;
      --header-is-transparent: 1;
    }

    .shopify-section--header {
      margin-bottom: calc(-1 * var(--header-height));
    }

    .supports-sticky .Search[aria-hidden="true"] + .Header--transparent {
      {%- if section.settings.show_transparent_header_border -%}
        box-shadow: 0 -1px {{ section.settings.transparent_text_color | color_modify: 'alpha', 0.25 }} inset;
      {%- else -%}
        box-shadow: none;
      {%- endif -%}

      color: {{ section.settings.transparent_text_color }};
    }
  {%- else -%}
    :root {
      --header-is-not-transparent: 1;
      --header-is-transparent: 0;
    }
  {%- endif -%}
</style>

<script>
  document.documentElement.style.setProperty('--header-height', document.getElementById('shopify-section-header').offsetHeight + 'px');
</script>

{% schema %}
{
  "name": "Title Home",
  "class": "shopify-section--title_home",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_sticky_header",
      "label": "Use sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_center_max_width",
      "min": 50,
      "max": 350,
      "step": 5,
      "unit": "px",
      "label": "Image Center width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_center_max_width",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile image Center width",
      "default": 90
    },
    {
      "type": "header",
      "content": "Sub Header"
    },
    {
      "type": "text",
      "id": "sub_header",
      "label": "Sub Header Text"
    }
  ]
}
{% endschema %}